.ovHidden {overflow: hidden;}
nav.nav {
    width: auto;
    &__logo {
        border-bottom: 1px solid $orange1;
        padding-left: 15px;
        a {
            display: inline-block;
            width: 100px;
            img {
                max-width: 100%;
                width: 100%;
            }
        }
    }

    &--fixed {
        background: $blue1;
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
        z-index: 25;
        height: 100%;
        .nav-wrap {
            margin-left: -250px;
            width: 250px;
            overflow-y: auto;
            transition: all .2s ease;
        }
        &.nav-open { 
            .nav-wrap {
                margin-left: 0px;
            }   
        }
        .nav__menu > li a {
            color: white;
        }
    }

    &__menu {
        margin-top: 25px;
        > li {
            display: block;
            vertical-align: middle;
            a {
                display: block;
                color: ghostwhite;
                font-size: 1.8rem;
                padding: 7px 15px;
                position: relative;
                &:after{
                    content: '|';
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: ghostwhite;
                }
                &.active, &:hover {
                    color: $orange1;
                    @include transition(all .3s ease-in-out);
                    &:after{
                        color: wheat;
                    }
                }
            }
        }
    }
}

.nav {
    &.nav-open {
        .hamburgerSlim {
            &:before {
            box-shadow: transparent 0 0 0 0;
            top: 50%;
            transform: rotate(225deg);
            }
    
            &:after {
            top: 50%;
            transform: rotate(315deg);
            }
        }
    
    }
}