@import './vendor/semantic';
@import './vendor/animate';
@import './vendor/_reset';
@import './vendor/slick';
@import './vendor/slick-theme';
@import './vendor/fontawesome';
@import './etc/fonts';
@import './etc/variables';
@import './etc/mixin';

html, body {
    overflow-x: hidden;
    background: ghostwhite;
    color: $black3;
    font-size: 62.5%; //10px
    position: relative;
    z-index: 0;
} 
body {
    padding-top: 15px;
}
* { 
    font-family: 'Helvetica', sans-serif; 
    text-decoration: none;
    outline: none;
    border: none;
    color: $black1;
    &::selection {
    background: rgba(239,122,22,.5); /* WebKit/Blink Browsers */
    }
    &::-moz-selection {
    background: rgba(239,122,22,.5); /* Gecko Browsers */
    }
}
a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
.ui.page.dimmer.visible.transition {display: flex !important;}
.ui.modal > .content > .description {width: 100%;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline: none;}
.posRelative {position: relative;}
.posInitial {position: initial;}
.slick-prev { left: 15px; z-index: 25;}
.slick-next { right: 15px; z-index: 25;}
.slick-dots { bottom: 15px; z-index: 25;}
.slick-dots li {
    button:before { 
        color: ghostwhite; 
        font-size: 1rem;
    }  
    &.slick-active {
        button:before { 
            color: white; 
        }   
    }
} 
h1,h2,h3 {
    font-size: 3.4rem;
    @include lg {
        font-size: 2.6rem;
    }
    @include md {
        font-size: 2.4rem;
    }
    @include xs {
        font-size: 2.2rem;
    }
}
div,p,span,label {
    font-size: 2.4rem;
    @include lg {
        font-size: 2rem;
    }
    @include md {
        font-size: 1.8rem;
    }
    @include xs {
        font-size: 1.6rem;
    }
}
.container{
    padding-top: 25px;
    &--wrap {
        padding: 50px 15px;
        @include ssm {
            padding: 25px 15px;
        }
    }
    &-fluid {
        min-height: 100vh;
    }
}
.ui.table {
    font-size: 1.8rem;
    text-align: center;
    &:last-child {
        margin-bottom: 25px;
    }
    > thead > tr > th {
        vertical-align: middle;
    }
    a {
        display: block;
        text-align: center;
    }
}
.table-title {
    margin-bottom: 25px;
}
// SLICK SLIDER
.slick-slider {
    visibility: hidden;
    &.slick-initialized {
        visibility: visible;
    }
}

@import './component/button';
@import './component/hamburger';
@import './component/navigation';
@import './component/footer';
@import './component/users';
@import './component/Photos';
@import './component/PostDetail';
@import './component/Modal';